.cart-count{
  color: white;
}
.CartIcon{
  filter: invert(100%) sepia(0%) saturate(1215%) hue-rotate(165deg) brightness(111%) contrast(101%);
  width: 20%;
  height: 20%;
  position:relative;
  top: 10px;
  left: -5px;
}
.header-home{
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

header .YangYang a{
  justify-content: left;
  display: inline-block;
  float: left;
}

header nav{
  display: flex;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 0 15px;
}

nav ul li a:hover{
  color: #ed4b2f;
}

@media (max-width: 650px) {
  header ul{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #902923;
    z-index: 99;
    opacity: 0.80;
    transition: 0.5s linear;
  }
}
